@model IEnumerable<STNDown.Models.CheckedServer>

@{
    ViewData["Title"] = "Manual Check Page";
}

<h2>Manual Checkup</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model.All(p => p.Check().Success))
{
    <h3 class="text-success">Every server is online :)</h3>
}
else if (Model.Any(p => p.Check().Success))
{
    <h3 class="text-danger">Warning! Problems at STN</h3>
    <h4>
        Please refer to the #announcements on discord for more infomation
    </h4>
}
else
{
    <h3 class="text-danger">Major problems at STN!!</h3>
    <h4>
        Please refer to the #announcements on discord for more infomation
    </h4>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Check().Success)
                    {
                        <span class="label label-success">Online</span>

                    }
                    else
                    {
                        <span class="label label-danger">Offline</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete |</a>
                    <a asp-action="DoManualCheck" asp-route-id="@item.ID">Manual Check</a>
                </td>
            </tr>
        }
    </tbody>
</table>
